<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>P치gina No Encontrada</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Error 404</h1>
    </header>
    <main>
        <p>Lo sentimos, la p치gina que est치s buscando no existe.</p>
        <a href="/">Volver a la p치gina de inicio</a>
    </main>
    <footer>
        &copy; 2024 @collins
    </footer>
</body>
</html>
