<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi Aplicación</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Universidad</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/estudiantes/listar">Gestionar Estudiantes</a></li>
            <li><a href="/profesores/listar">Gestionar Profesores</a></li>
            <li><a href="/cursos/listar">Gestionar Cursos</a></li>
            <li><a href="/inscripciones/listar">Gestionar Inscripciones</a></li>
        </ul>
    </nav>
    <main>
        <section>
            <h2>Bienvenido al Sistema de Gestión Universitaria</h2>
            <p>
                Este sistema está diseñado para facilitar la administración de los diversos aspectos de una universidad, 
                permitiendo gestionar la información de estudiantes, profesores y cursos de manera eficiente.
            </p>
            <br>
            <p>Con nuestro sistema, podrás:</p>
            <br>
            <ul>
                <li>Registrar y mantener la información de estudiantes y profesores.</li>
                <li>Gestionar cursos y asignaturas, así como las inscripciones correspondientes.</li>
                <li>Calificar a los estudiantes y mantener un registro de sus resultados académicos.</li>
            </ul>
            <br>
            <p>
                <i>Nuestro objetivo es optimizar la gestión administrativa y mejorar la calidad de la educación en la universidad.</i>
            </p>
        </section>
    </main>
    <footer>
        &copy; 2024 @collins
    </footer>
</body>
</html>
