/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

/* Estilo para el encabezado */
header {
    background-color: #004d99;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Estilos para la navegación */
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

nav a {
    color: rgb(243, 200, 9);
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Estilo para el contenido principal */
main {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    max-width: 1200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para el pie de página */
footer {
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}


/* Estilo general para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

/* Estilo para las celdas de la tabla */
th, td {
    padding: 12px;
    border: 1px solid #dddddd; /* Borde gris claro */
}

/* Estilo para los encabezados de la tabla */
th {
    background-color: #4CAF50; /* Color de fondo verde para encabezados */
    color: white; /* Color del texto en el encabezado */
}

/* Alternar colores de fondo de las filas */
tr:nth-child(even) {
    background-color: #f2f2f2; /* Color gris claro */
}

tr:nth-child(odd) {
    background-color: #ffffff; /* Color blanco */
}

/* Estilo para enlaces */
a {
    color: #0f39f3; /* Color de los enlaces */
    text-decoration: none; /* Sin subrayado */
}

a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
}
